/* cssreference.io */
body {
  font-family: monospace;
  /* padding: 0; */
}
.taleofthetape {
  
  box-sizing: content-box;
  border: 4px solid red;
  border-left: 4px  solid black;
  border-right: 4px solid black;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border-width: 12px 0;
  /* padding: 50px 50px 50px; */
  height:60px; 
  width: 400px;
  opacity: 80%;
  text-align: center; 
  font-size: 3em;
  color: black;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.background-video {
  width: 100vw;
  height:100vh;
  object-fit: cover;
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: -1;
}

.container {

  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  
}

.left{ 
  width:50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  
}

.right{ 
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; 
} 

.fightersearch1{

  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 4px;
  text-align: center;
  font-family: monospace;
  width: 250px;
  height: 30px;
  margin: 2px;
  margin-top: 10px;

}

.fightersearch2{
 
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 4px;
  text-align: center;
  font-family: monospace;
  width: 250px;
  height: 30px;
  margin: 2px;
  margin-top: 10px;

}

.card {

  border: 20px solid black;
  border-top: 20px solid red;
  border-bottom: 20px solid red;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: rgb(255, 255, 255);
  align-self: center;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 700px;
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 70%;
  
  
}

.card > h2 {
  font-size: 2.8em;
  text-align: center;
  font-weight: bold;
}

.card > h3 {
  font-size: 2.6em;
  font-weight: 200;
  text-align: center;
  
}

.like {
  font-family: monospace;
  font-size: 1.2em;
  /* border: 4px solid black; */
  border-radius: 4px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  
}

/* .background {
  background-image: url("https://dmxg5wxfqgb4u.cloudfront.net/styles/gallery_collapsed_desktop_1x/s3/2018-10/GettyImages-1046278536.jpg?VersionId=dDdu.XcmvQJ9wEL0IWBRoPobgBA8IaR7&itok=tRUjtzaL");
  background-size: cover;
} */


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25% ;
  width: 25%;
}

.versus{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  margin-top: 150px;
  
}

.submit {
  font-family: monospace;
  font-size: 1.2em;
  /* border: 4px solid black; */
  border-radius: 4px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 7px;

}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
 
}

