/* cssreference.io */
body {
  font-family: 'monospace';
  /* padding: 0; */
}
.taleofthetape{
  /* width: 40%; */
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  
  box-sizing: content-box;
  border: 4px solid red;
  border-left: 4px  solid black;
  border-right: 4px solid black;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border-width: 12px 0;
  /* padding: 50px 50px 50px; */
  height:60px; 
  width: 400px;
  /* display: flex;
  justify-content: center; */
  /* width: 200px; */
  opacity: 80%;
  text-align: center; 
  font-size: 3em;
  color: black;
    margin: auto;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  
}

.left{ 
  width:50%; 
}

.right{ 
  width:50%; 
} 

.fightersearch1{
  /* display: flex;
  justify-content: center; */
  /* width: 20%;
  padding: 8px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 4px;
  text-align: center;
  

}

 .mid{
  width:10%;
  /* float:right; */

} 



.fightersearch2{
   /* display: flex; 
   justify-content: center;  */
  /* width: 20%;
  padding: 8px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 4px;
  text-align: center;
  
  

}

.card {
  border: 20px solid black;
  border-top: 20px solid red;
  border-bottom: 20px solid red;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: rgb(255, 255, 255);
  align-self: center;
  align-content: center;
  align-items: center;
  width: auto;
  height: 500px;
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 70%;
  
  
}

.card > h2 {
  font-size: 2.1em;
  text-align: center;
  font-weight: 200;
}

.card > h3 {
  font-size: 1.8em;
  font-weight: 200;
  text-align: center;
  
}

.like {
  font-size: 1.2em;
  /* border: 4px solid black; */
  border-radius: 4px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  
}

.background {
  background-image: url("https://dmxg5wxfqgb4u.cloudfront.net/styles/gallery_collapsed_desktop_1x/s3/2018-10/GettyImages-1046278536.jpg?VersionId=dDdu.XcmvQJ9wEL0IWBRoPobgBA8IaR7&itok=tRUjtzaL");
  background-size: cover;
  
  
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25% ;
  width: 25%;
}
.versus{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  margin-top: 150px;
  
}

